In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
import matplotlib.pyplot as plt
%matplotlib inline
import datetime
from pandas_datareader import data as web
import scipy.optimize as sco
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import pandas_datareader.data as web

In [ ]:
pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.63)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)

In [ ]:

import yfinance as yf

data = yf.download('MSFT','2015-07-31','2021-07-31')

[*********************100%***********************]  1 of 1 completed

In [ ]:
data.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2015-07-31  47.290001  47.369999  46.500000  46.700001  41.859325  31201500
2015-08-03  46.980000  47.000000  46.450001  46.810001  41.957920  24125900
2015-08-04  46.750000  47.709999  46.680000  47.540001  42.612240  33403900
2015-08-05  47.980000  48.410000  47.540001  47.580002  42.648106  26959700
2015-08-06  47.709999  47.770000  46.330002  46.619999  41.787617  27368000

In [ ]:
data = data.reset_index()

In [ ]:
data['Returns'] = data['Adj Close'].pct_change()

In [ ]:
data.head()

        Date       Open       High  ...  Adj Close    Volume   Returns
0 2015-07-31  47.290001  47.369999  ...  41.859325  31201500       NaN
1 2015-08-03  46.980000  47.000000  ...  41.957920  24125900  0.002355
2 2015-08-04  46.750000  47.709999  ...  42.612240  33403900  0.015595
3 2015-08-05  47.980000  48.410000  ...  42.648106  26959700  0.000842
4 2015-08-06  47.709999  47.770000  ...  41.787617  27368000 -0.020176

[5 rows x 8 columns]

In [ ]:
data.rename({'Returns':'MSFT Returns'}, axis = 1, inplace = True)

In [ ]:

import yfinance as yf

nsdq = yf.download('^IXIC','2015-07-31','2021-07-31')

[*********************100%***********************]  1 of 1 completed

In [ ]:
nsdq.reset_index()
nsdq['Returns'] = nsdq['Adj Close'].pct_change()
nsdq.head()

                   Open         High  ...      Volume   Returns
Date                                  ...
2015-07-31  5148.180176  5155.020020  ...  1926360000       NaN
2015-08-03  5134.339844  5143.080078  ...  1790080000 -0.002515
2015-08-04  5110.959961  5125.899902  ...  1819700000 -0.001922
2015-08-05  5132.770020  5175.259766  ...  2041490000  0.006736
2015-08-06  5146.629883  5149.930176  ...  2290950000 -0.016245

[5 rows x 7 columns]

In [ ]:
nsdq.rename({'Returns':'Market Returns'}, axis = 1, inplace = True)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
tbill = pd.read_csv('/content/drive/MyDrive/TBill10.csv')

In [ ]:
tbill.columns

Index(['Date', ' Open', ' High', ' Low', ' Close'], dtype='object')

In [ ]:
#df = df.reset_index()

In [ ]:
#df.drop(['index'], axis = 1, inplace = True)

In [ ]:
#df.head()

In [ ]:
data['M'] = data['Date'].dt.to_period('m')

In [ ]:
data['ret_1'] = data['MSFT Returns'] + 1
group = data.groupby(['M'])

In [ ]:
data['Returns'] = group['ret_1'].transform(np.product) - 1

In [ ]:
MSFT = data.copy()
data = data[['M','Returns']]

In [ ]:
data = data.drop_duplicates(subset=['M'])
data.rename({'M':'Date'}, axis = 1, inplace = True)

In [ ]:
nsdq = nsdq.reset_index()
nsdq['M'] = nsdq['Date'].dt.to_period('m')
nsdq['ret_1'] = nsdq['Market Returns'] + 1
group = nsdq.groupby(['M'])
nsdq['Returns'] = group['ret_1'].transform(np.product) - 1
NSDQ = nsdq.copy()
nsdq = nsdq[['M','Returns']]
nsdq = nsdq.drop_duplicates(subset = ['M'])
nsdq.rename({'M':'Date'}, axis = 1, inplace = True)

In [ ]:
nsdq.head()

       Date   Returns
0   2015-07  0.000000
1   2015-08 -0.068594
22  2015-09 -0.032733
43  2015-10  0.093847
65  2015-11  0.010867

In [ ]:
tbill['Date'] = pd.to_datetime(tbill['Date'])
tbill['M'] = tbill['Date'].dt.to_period('m')
tbill.head()

        Date   Open   High    Low   Close        M
0 2021-07-30  1.272  1.272  1.226   1.228  2021-07
1 2021-07-29  1.234  1.289  1.231   1.272  2021-07
2 2021-07-28  1.247  1.273  1.226   1.234  2021-07
3 2021-07-27  1.297  1.297  1.231   1.247  2021-07
4 2021-07-26  1.276  1.301  1.221   1.297  2021-07

In [ ]:
tbill['ret_1'] = tbill[' Close']
group = tbill.groupby(['M'])
tbill['Rate'] = group['ret_1'].transform(np.mean)
Tbill = tbill.copy()
tbill = tbill[['M','Rate']]
tbill = tbill.drop_duplicates(subset = ['M'])
tbill.rename({'M':'Date'}, axis = 1, inplace = True)

In [ ]:
tbill.head()

       Date      Rate
0   2021-07  1.314864
22  2021-06  1.513409
44  2021-05  1.611952
65  2021-04  1.623409
87  2021-03  1.611913

In [ ]:
tbill['Year'] = tbill["Date"].astype(str).str[:4]

In [ ]:
tbill['Year'] = tbill['Year'].astype(int)

In [ ]:
hml = pd.read_csv('/content/drive/MyDrive/North_America_3_Factors.csv')

In [ ]:
hml['Date'] = hml['Date'].astype(int)

In [ ]:
hml.rename({'Date':'Year'}, axis = 1, inplace = True)

In [ ]:
tbill = pd.merge(tbill,hml,on = 'Year', how = 'left')

In [ ]:
tbill.drop(['Year'],axis = 1, inplace = True)

In [ ]:
tbill.head()

      Date      Rate   SMB  HML
0  2021-07  1.314864  1.79 -7.7
1  2021-06  1.513409  1.79 -7.7
2  2021-05  1.611952  1.79 -7.7
3  2021-04  1.623409  1.79 -7.7
4  2021-03  1.611913  1.79 -7.7

In [ ]:
nsdq.rename({'Returns':'Market Returns'}, axis = 1, inplace = True)

In [ ]:
tbill = pd.merge(tbill,nsdq,on = 'Date', how = 'left')

In [ ]:
tbill = pd.merge(tbill,data,on = 'Date', how = 'left')

In [ ]:
tbill.head()

      Date      Rate   SMB  HML  Market Returns   Returns
0  2021-07  1.314864  1.79 -7.7        0.011633  0.051717
1  2021-06  1.513409  1.79 -7.7        0.054929  0.084989
2  2021-05  1.611952  1.79 -7.7       -0.015322 -0.007627
3  2021-04  1.623409  1.79 -7.7        0.054036  0.069602
4  2021-03  1.611913  1.79 -7.7        0.004133  0.014588

In [ ]:
tbill['Risk Free Rate'] = tbill['Rate']/100

In [ ]:
tbill['RF/12'] = tbill['Risk Free Rate']/12

In [ ]:
tbill['Microsoft Returns'] = tbill['Returns']

In [ ]:
tbill['Excess Stock Return'] = tbill['Microsoft Returns'] - tbill['RF/12']

In [ ]:
tbill['Excess Stock Return'] = tbill['Excess Stock Return']*100

In [ ]:
tbill['Nasdaq Returns'] = tbill['Market Returns']

In [ ]:
tbill['Excess Market Return'] = tbill['Nasdaq Returns'] - tbill['RF/12']

In [ ]:
tbill['Excess Market Return'] = tbill['Excess Market Return']*100

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [ ]:
x = tbill['Excess Market Return'].values
y = tbill['Excess Stock Return'].values

In [ ]:
x = x.reshape(-1,1)

In [ ]:
model = LinearRegression()
model = LinearRegression().fit(x, y)
r_sq = model.score(x, y)
print('coefficient of determination:', r_sq)
print('intercept:', model.intercept_)
print('slope:', model.coef_)
y_pred = model.predict(x)
print('predicted response:', y_pred, sep='\n')

coefficient of determination: 0.6142968236553744
intercept: 1.435098031387667
slope: [0.85518892]
predicted response:
[ 2.33626428e+00  6.02474466e+00  9.88052670e-03  5.94051437e+00
  1.67365092e+00  2.14220688e+00  2.56930777e+00  6.20304681e+00
  1.14615363e+01 -5.80180097e-01 -3.02851301e+00  9.58790308e+00
  7.22768479e+00  6.51001937e+00  7.16243245e+00  1.45990139e+01
 -7.28470955e+00 -4.12629501e+00  3.00958379e+00  4.33350143e+00
  5.15321512e+00  4.44623117e+00  1.70630919e+00 -9.04091725e-01
  3.09567998e+00  7.63364090e+00 -5.51981969e+00  5.30509839e+00
  3.48613979e+00  4.18990569e+00  9.57408220e+00 -6.87784845e+00
  1.50145446e+00 -6.65930467e+00  5.54693268e-01  6.10892727e+00
  3.06803051e+00  2.01085876e+00  5.77140163e+00  1.26469546e+00
 -1.23166848e+00 -3.66294113e-01  7.54516563e+00  1.62978414e+00
  3.12699440e+00  4.31753736e+00  2.17358978e+00  2.36284619e+00
  4.16281189e+00  4.77707451e-01  3.40509472e+00  3.23740792e+00
  2.52523754e+00  4.47124707e+00  4.94260366e+00  2.21250202e+00
  3.49977908e+00 -6.68120613e-01  2.93958946e+00  2.17050819e+00
  6.97005394e+00 -5.03137623e-01  4.39930237e+00 -3.52370193e-01
  7.15287285e+00  2.70788498e-01 -5.43256158e+00 -4.19358514e-01
  2.20354267e+00  9.31422682e+00 -1.51858267e+00 -4.58502714e+00
  1.27945365e+00]

In [ ]:
tbill['Prediction'] = y_pred

In [ ]:
fama = tbill[['Excess Market Return','HML','SMB','Excess Stock Return']]

In [ ]:
y = fama['Excess Stock Return']
x = fama.iloc[:,:3]

In [ ]:
x = x.values
y = y.values

In [ ]:
model = LinearRegression()
model = LinearRegression().fit(x, y)
r_sq = model.score(x, y)
print('coefficient of determination:', r_sq)
print('intercept:', model.intercept_)
print('slope:', model.coef_)
y_pred = model.predict(x)
print('predicted response:', y_pred, sep='\n')

coefficient of determination: 0.6305289398845757
intercept: 1.4688257592515468
slope: [ 0.87856321  0.00696435 -0.11395933]
predicted response:
[ 2.13701024  5.92630534 -0.25295896  5.83977284  1.45628612  1.9376488
  2.37642335  5.07839571 10.48061192 -1.89023249 -4.40548401  8.55576794
  6.13103942  5.39375854  6.06400358 13.70384403 -8.77801226 -5.53327094
  1.79764795  4.81529552  5.65741388  4.93110642  2.11629603 -0.56545319
  3.54364154  8.20563544 -5.30733969  5.81344847  3.94477352  4.66777498
 10.1991135  -6.38138042  2.22694824 -6.15686333  1.25430987  6.96035396
  3.83634245  2.75027574  6.61360296  1.98371807 -0.58087728  0.30814977
  8.43584804  1.8594962   3.39762869  4.62071194  2.41816532  2.61259454
  4.46175747  0.6759306   3.68333014  3.51106007  2.77942442  4.7786229
  5.26286276  1.69970476  3.02216608 -1.25965196  2.44666518  1.65656314
  6.58729159 -1.09015961  3.94627542 -0.93527135  6.77510736 -0.29508029
 -6.15431614  0.26869674  2.96328789 10.26832351 -0.86057175 -4.01082925
  2.01394138]

In [ ]:
tbill['3 Factor Model Prediction'] = y_pred

In [ ]:
tbill.to_excel('Microsoft_Output.xlsx')
!cp Microsoft_Output.xlsx "drive/My Drive/"